USE [master]
GO
CREATE TABLE [dbo].[MemberList](
	[MemberName] [varchar](50) NULL,
	[MemberPhone] [varchar](20) NULL,
	[MemberPoints] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductList]    Script Date: 9/22/2025 9:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductList](
	[ProductId] [varchar](10) NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[ProductModel] [varchar](100) NOT NULL,
	[ProductCategory] [varchar](100) NOT NULL,
	[ProductPrice] [decimal](18, 0) NOT NULL,
	[ProductStock] [int] NOT NULL,
	[ProductType] [nvarchar](100) NOT NULL,
	[ProductDescription] [nvarchar](1000) NOT NULL,
	[ProductImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK_ProductList] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleList]    Script Date: 9/22/2025 9:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleList](
	[UserId] [nvarchar](8) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_RoleList] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempCart]    Script Date: 9/22/2025 9:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempCart](
	[ProductId] [nvarchar](10) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductQuantity] [int] NOT NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[ProductUnitPrice] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 9/22/2025 9:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[TransactionDetailId] [nvarchar](10) NOT NULL,
	[TransactionId] [nvarchar](10) NOT NULL,
	[ProductId] [nvarchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_TransactionDetails] PRIMARY KEY CLUSTERED 
(
	[TransactionDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionList]    Script Date: 9/22/2025 9:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionList](
	[TransactionID] [varchar](50) NULL,
	[SalesmanID] [varchar](50) NULL,
	[CustomerID] [varchar](50) NULL,
	[TimeAndDate] [datetime] NULL,
	[TotalAmount] [float] NULL,
	[PaymentOption] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserList]    Script Date: 9/22/2025 9:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserList](
	[UserId] [nvarchar](8) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[UserDOB] [date] NOT NULL,
	[UserPhone] [nvarchar](15) NOT NULL,
	[UserNID] [nvarchar](30) NOT NULL,
	[PicturePath] [nvarchar](100) NULL,
 CONSTRAINT [PK_UserList] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MemberList] ([MemberName], [MemberPhone], [MemberPoints]) VALUES (N'Abdul Karim', N'01745678901', 3543)
INSERT [dbo].[MemberList] ([MemberName], [MemberPhone], [MemberPoints]) VALUES (N'Nazmul Hasan', N'01987654321', 1063)
INSERT [dbo].[MemberList] ([MemberName], [MemberPhone], [MemberPoints]) VALUES (N'Shahina Akter', N'01823456789', 80)
GO
INSERT [dbo].[ProductList] ([ProductId], [ProductName], [ProductModel], [ProductCategory], [ProductPrice], [ProductStock], [ProductType], [ProductDescription], [ProductImagePath]) VALUES (N'P-001', N'Dying Light: The Beast', N'The Beast Deluxe Edition', N'Pc Games', CAST(5000 AS Decimal(18, 0)), 18, N'Games', N'You are Kyle Crane, and after years of brutal experiments, you want revenge. Experience a unique blend of open world and survival horror as you hunt down the man who transformed you into half man, half beast.', N'..\..\ProductImage\P-001.png')
INSERT [dbo].[ProductList] ([ProductId], [ProductName], [ProductModel], [ProductCategory], [ProductPrice], [ProductStock], [ProductType], [ProductDescription], [ProductImagePath]) VALUES (N'P-002', N'EA SPORTS FC™ 26', N'Ultimate Edition', N'PS5', CAST(7599 AS Decimal(18, 0)), 37, N'Games', N'The Club is Yours in EA SPORTS FC™ 26. Play your way with an overhauled gameplay experience powered by community feedback, Manager Live Challenges that bring fresh storylines to the new season, and Archetypes inspired by greats of the game.', N'..\..\ProductImage\P-002.png')
INSERT [dbo].[ProductList] ([ProductId], [ProductName], [ProductModel], [ProductCategory], [ProductPrice], [ProductStock], [ProductType], [ProductDescription], [ProductImagePath]) VALUES (N'P-003', N'Halo Infinite', N'Campaign', N'X-Box', CAST(6020 AS Decimal(18, 0)), 17, N'Games', N'From one of gaming most iconic sagas, Halo is bigger than ever. Featuring an expansive open-world campaign and a dynamic multiplayer experience. ', N'..\..\ProductImage\P-003.png')
GO
INSERT [dbo].[RoleList] ([UserId], [Role]) VALUES (N'A-001', N'Admin')
INSERT [dbo].[RoleList] ([UserId], [Role]) VALUES (N'A-003', N'Admin')
INSERT [dbo].[RoleList] ([UserId], [Role]) VALUES (N'S-002', N'Seller')
GO
INSERT [dbo].[TransactionDetails] ([TransactionDetailId], [TransactionId], [ProductId], [Quantity], [UnitPrice]) VALUES (N'TD-001', N'T-001', N'P-001', 2, CAST(5000 AS Decimal(18, 0)))
INSERT [dbo].[TransactionDetails] ([TransactionDetailId], [TransactionId], [ProductId], [Quantity], [UnitPrice]) VALUES (N'TD-002', N'T-001', N'P-002', 1, CAST(7599 AS Decimal(18, 0)))
INSERT [dbo].[TransactionDetails] ([TransactionDetailId], [TransactionId], [ProductId], [Quantity], [UnitPrice]) VALUES (N'TD-003', N'T-001', N'P-003', 1, CAST(6020 AS Decimal(18, 0)))
GO
INSERT [dbo].[TransactionList] ([TransactionID], [SalesmanID], [CustomerID], [TimeAndDate], [TotalAmount], [PaymentOption]) VALUES (N'T-001', N'A-001', N'01913362631', CAST(N'2025-06-20T02:48:34.317' AS DateTime), 23619, N'Cash')
INSERT [dbo].[TransactionList] ([TransactionID], [SalesmanID], [CustomerID], [TimeAndDate], [TotalAmount], [PaymentOption]) VALUES (N'T-002', N'A-001', N'01722334455', CAST(N'2025-06-20T02:52:15.850' AS DateTime), 318000, N'Digital')
INSERT [dbo].[TransactionList] ([TransactionID], [SalesmanID], [CustomerID], [TimeAndDate], [TotalAmount], [PaymentOption]) VALUES (N'T-003', N'A-001', N'01399887766', CAST(N'2025-07-20T02:54:20.560' AS DateTime), 75000, N'Cash')
GO
INSERT [dbo].[UserList] ([UserId], [UserPassword], [Username], [UserDOB], [UserPhone], [UserNID], [PicturePath]) VALUES (N'A-001', N'1234', N'Mubin Hasan', CAST(N'2003-01-01' AS Date), N'01923456574', N'1314526462', N'..\..\ProfileImage\A-001.png')
INSERT [dbo].[UserList] ([UserId], [UserPassword], [Username], [UserDOB], [UserPhone], [UserNID], [PicturePath]) VALUES (N'A-003', N'1234', N'Zahin Daiyan', CAST(N'2003-05-12' AS Date), N'01745624578', N'1242353245', N'picture path')
INSERT [dbo].[UserList] ([UserId], [UserPassword], [Username], [UserDOB], [UserPhone], [UserNID], [PicturePath]) VALUES (N'S-002', N'1234', N'Nazmus Sakib', CAST(N'2002-01-01' AS Date), N'01642452363', N'1416786453', N'..\..\ProfileImage\S-002.png')
GO
ALTER TABLE [dbo].[UserList] ADD  CONSTRAINT [DF_UserList_PicturePath]  DEFAULT ('picture path') FOR [PicturePath]
GO
USE [master]
GO
